
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');



html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       15px; /*edited*/
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Merriweather', serif;/*edited*/
  --mono-font:       'Merriweather', serif;/*edited*/
  --body-font:       'Merriweather', serif; /*edited*/
  --navbar-font:     'Merriweather', serif; /*edited*/ /* websites + blogs only */
  --title-font: 'Playfair Display', serif;/*edited*/
  background-color:  #FFFFFF;
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
  background-color:  #FFFFFF;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       1.075rem; /*edited*/
  --text-color:      rgba(0, 0, 0, 0); /*edited*/
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       #00000;
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #b3d9d9; /*edited*/
  height:             50px; /*edited*/
}

.distill-site-footer {
  --text-color:       #00000;
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #b3d9d9;  /*edited*/
}


/*-- Additional custom styles --*/
/* Add any additional CSS rules below */


h3 {
  

}

h4 {
  --text-size: 18px;
}

h5 {

}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

body {
  background-color: #FFFFFF;
}

.article-banner {
  width: auto;
  height: auto;
  border: 0;
}

img[src="images/banner.JPG"] {
  border: 0;
  padding: 0;
  width: 100%;
  margin: 100px 25px 0 0;
}

.logo {
  width: auto;
  height: auto;
  border: 0;
}

img[src="images/logo.png"] {
  position: relative;
  top: -25px;
}

img[src="images/sotm.jpg"] { width: 300px; }
img[src="images/acaughman_imcc7_1.JPG"] { width: 300px; }

img[src="images/edna.jpg"] { width: 300px; }
img[src="images/edna_2.JPG"] { width: 300px; }

img[src="images/moorea4.jpg"] { width: 200px; }
img[src="images/moorea1.JPG"] { width: 200px; }
img[src="images/moorea3.jpg"] { width: 200px; }

img[src="images/fig1.png"] { width: 300px; }
